# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# exclude directory Logs and all contained files
**/Logs
# exclude hidden vscode directory
**/.vscode
# exclude workspace
*.code-workspace
prism-4.6-linux64/tmp
prism-4.6-linux64/bin/prism
prism-4.6-linux64/bin/xprism

TestingClasses.py
